<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>js仿360桌面悬浮球拖拽到边缘自动贴边特效</title>

  <style>
    * {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    html,
    body {
      width: 100%;
      height: 100%;
    }

    #drag-ball {
      width: 100px;
      height: 100px;
      background: #ddd;
      position: fixed;
      cursor: move;
      box-sizing: border-box;
      border: 4px solid #66cc66;
      border-radius: 50%;
      background: url('test.jpeg') no-repeat center center;
      background-size: 100% 100%;
      overflow: hidden;
    }
  </style>

</head>
<body>

<div id="drag-ball"></div>

<script>

  // 自动吸附距离
  var marginOffset = 50;

  var ball = document.querySelector('#drag-ball');
  var ballWidth = ball.offsetWidth;
  var ballHeight = ball.offsetHeight;
  var cuntWidth = 0;
  var cuntHeight = 0;
  // ball.style.left = parseInt(Math.random() * (document.body.offsetWidth - ballWidth)) + 'px';
  // ball.style.top = parseInt(Math.random() * (document.body.offsetHeight - ballHeight)) + 'px';

  function move(obj, w, h) {
    if (obj.direction === 'left') {
      obj.style.left = 0 - w + 'px';
    } else if (obj.direction === 'right') {
      obj.style.left = document.body.offsetWidth - ballWidth + w + 'px';
    }
    if (obj.direction === 'top') {
      obj.style.top = 0 - h + 'px';
    } else if (obj.direction === 'bottom') {
      obj.style.top = document.body.offsetHeight - ballHeight + h + 'px';
    }
  }

  function rate(obj, a) {
    obj.style.transform = ' rotate(' + a + ')'
  }

  function action(obj) {

    var dir = obj.direction;

    switch (dir) {
      case 'left':
        rate(obj, '90deg');
        break;
      case 'right':
        rate(obj, '-90deg');
        break;
      case 'top':
        rate(obj, '-180deg');
        break;
      default:
        rate(obj, '-0');
        break;
    }

  }

  function ballMove(ballDynamicLeft,ballDynamicTop) {
    cuntWidth = 0;
    cuntHeight = 0;
    ball.direction = '';
    ball.style.transition = '';
    ball.style.left = ballDynamicLeft + 'px';
    ball.style.top = ballDynamicTop + 'px';
    if (ballDynamicLeft < marginOffset) {
      ball.direction = 'left';
      if (ballDynamicLeft < 1) {
        move(ball, 0, 0);
      }
    }
    if (ballDynamicTop < marginOffset) {
      ball.direction = 'top';
      if (ballDynamicTop < 1) {
        move(ball, 0, 0);
      }
    }
    if (ballDynamicLeft > document.body.offsetWidth - ballWidth - marginOffset) {
      ball.direction = 'right';
      if (ballDynamicLeft > document.body.offsetWidth - ballWidth - 1) {
        move(ball, 0, 0);
      }
    }
    if (ballDynamicTop > document.body.offsetHeight - ballHeight - marginOffset) {
      ball.direction = 'bottom';
      if (ballDynamicTop > document.body.offsetHeight - ballHeight - 1) {
        move(ball, 0, 0);
      }
    }
  }

  /***
   * 移动端
   */
  ball.addEventListener('touchstart', function (e) {
    var ballLeft = e.touches[0].clientX - ball.offsetLeft;
    var ballTop = e.touches[0].clientY - ball.offsetTop;
    move(this, 0, 0);
    rate(this, 0)
    document.addEventListener('touchmove', function (e) {
      var ballDynamicLeft = e.touches[0].clientX - ballLeft
      var ballDynamicTop = e.touches[0].clientY - ballTop
      ballMove(ballDynamicLeft,ballDynamicTop)
    })
  })

  ball.addEventListener('touchend', function () {
    this.style.transition = '.5s';
    move(this, ballWidth / 2, ballHeight / 2);
    action(this);
  })

  /***
   * pc端
   */
  ball.onmousedown = function (e) {
    var ballLeft = e.clientX - ball.offsetLeft;
    var ballTop = e.clientY - ball.offsetTop;
    document.onmousemove = function (e) {
      cuntWidth = 0;
      cuntHeight = 0;
      var ballDynamicLeft = e.clientX - ballLeft
      var ballDynamicTop = e.clientY - ballTop
      ballMove(ballDynamicLeft,ballDynamicTop)
    }
  }

  ball.onmouseover = function () {
    move(this, 0, 0);
    rate(this, 0)
  }

  ball.onmouseout = function () {
    move(this, ballWidth / 2, ballHeight / 2);
    action(this);
  }

  ball.onmouseup = function () {
    document.onmousemove = null;
    this.style.transition = '.5s';
    move(this, ballWidth / 2, ballHeight / 2);
    action(this);
  }

  window.onresize = function () {
    var bodyH = document.body.offsetHeight;
    var ballTop = ball.offsetTop;
    var bodyW = document.body.offsetWidth;
    var ballLeft = ball.offsetLeft;

    if (ballTop + ballHeight > bodyH) {
      ball.style.top = bodyH - ballHeight + 'px';
      cuntHeight++;
    }
    if (bodyH > ballTop && cuntHeight > 0) {
      ball.style.top = bodyH - ballHeight + 'px';
    }
    if (ballLeft + ballWidth > bodyW) {
      ball.style.left = bodyW - ballWidth + 'px';
      cuntWidth++;
    }
    if (bodyW > ballLeft && cuntWidth > 0) {
      ball.style.left = bodyW - ballWidth + 'px';
    }
    move(ball, ballWidth / 2, ballHeight / 2);
  }



</script>
</body>
</html>
