<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh" lang="zh">
<head>
  <title>鼠标拖动画矩形</title>
  <meta http-equiv="content-type" content="text/htmlcharset=utf-8">
  <style type="text/css">
    /*body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0padding:0}*/
    /*html{color:#000overflow-y:scolloverflow:-moz-scrollbars-vertical}*/
    /*.draw-rectangle{position:absolute border:1px dashed #2898ff width:0px height:0pxleft:0px top:0px overflow:hidden}*/
    /*.retc{position:absolute border:1px solid #CCCCCC overflow:hidden background:#EFEFEF}*/
  </style>
</head>
<body style="text-align:center;">
  <div id="ddd" style="margin:0 auto;margin-top:100px;text-align: center;width: 500px;height: 5000px; border:1px solid #000000;"></div>
</body>
<script language = "javascript">

  let $$ = function(id){
    return document.getElementById(id)
  }
  let draw = $$('ddd')
  let wId = "rectangle1"
  let startX = 0, startY = 0
  let flag = false
  let retcLeft = 0, retcTop = 0, retcHeight = 0, retcWidth = 0
  draw.onmousedown = function(e){

    flag = true
    let evt = window.event || e
    console.log('evt',evt)
    let scrollTop = draw.scrollTop || draw.scrollTop
    let scrollLeft = draw.scrollLeft || draw.scrollLeft
    startX = evt.clientX + scrollLeft
    startY = evt.clientY + scrollTop
    let div = document.createElement("div")
    div.id = wId
    div.className = "draw-rectangle"
    div.style.left = evt.x + "px"
    div.style.top = evt.y + "px"
    div.style.position = 'absolute'
    div.style.border = '1px dashed #2898ff'
    div.style.width = '0px'
    div.style.height = '0px'
    div.style.left = '0px'
    div.style.top = '0px'
    div.style.overflow = 'hidden'
    draw.appendChild(div)

    document.onmousemove = function(e){
      if(flag){
        let evt = window.event || e
        let scrollTop = document.body.scrollTop || document.documentElement.scrollTop
        let scrollLeft = document.body.scrollLeft || document.documentElement.scrollLeft
        retcLeft = (startX - evt.clientX - scrollLeft > 0 ? evt.clientX + scrollLeft : startX)
        retcTop = (startY - evt.clientY - scrollTop > 0 ? evt.clientY + scrollTop : startY)
        retcHeight = Math.abs(startY - evt.clientY - scrollTop)
        retcWidth = Math.abs(startX - evt.clientX - scrollLeft)
        $$(wId).style.left = retcLeft + 'px'
        $$(wId).style.top = retcTop + 'px'
        $$(wId).style.width = retcWidth + 'px'
        $$(wId).style.height = retcHeight + 'px'
        $$(wId).style.backgroundColor = '#f2f5fa55'
      }
    }

  }
  document.onmouseup = function(){
    flag = false
    if($$(wId)){
      console.log('left',retcLeft, 'top',retcTop, 'width',retcWidth, 'hieght',retcHeight)
      // draw.removeChild($$(wId))
    }
  }
</script>
</html>
