push.sh
update.sh
dist.tar
.history/
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.idea
.fleet
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
