.el-card {
  border-radius: 16px;
  border: var(--dialog-border);
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: var(--text-color);
}

>>>.el-alert__title {
  font-size: 14px;
}
.el-alert {
  border-radius: 8px;
}

.van-cell {
  background: unset;
  border-radius: 16px;
}

>>>.van-field__control {
  color: var(--text-color);
}
>>>.van-radio__label {
  color: var(--text-color);
}

.wechat-tip {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.7);
  color: #fff;
  font-size: 20px;
  display: flex; align-items: center; justify-content: center;
  z-index: 9999;
}


/* 移动端适配 */
@media (max-width: 768px) {
  .burn-note-container {
    padding: 10px;
  }
  .view-burn-note {
    .confirm-view {
      padding: 15px;
    }
  }
  .collapse-setting {
    margin: 0 0 10px 0;
  }
  >>>.el-alert__content {
    padding: 0;
  }
}
