.top-bar {
  width: 100%;
  top: 0;
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background: #fff;
  z-index: 1999;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.top-left {
  width: 25%;
}
.top-center {
  width: 50%;
  text-align: center;
  align-content: center;
}
.top-right {
  width: 25%;
  .svg-icon {
    font-size: 14px;
  }
  .top-right-option {
    float: right;
    margin-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    line-height: 40px;
  }
  >>> .el-select {
    width: 135px;
    margin-right: 10px;
  }
}
.iframe-content {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #dcdfe6;
  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}
