a {
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

a:hover {
  color: #40a9ff;
}
.container {
  padding: 20px;
}
/deep/.box-card {
  margin: 0 auto;
  max-width: 1140px;
  min-width: 640px;
  .clearfix {
    font-size: 16px;
    font-weight: 600;
  }
}

.clearfix {
  display: flex;
}

.card-button {
  float: right;
  margin-left: 25px;
}

.card-header {
  line-height: 32px;
}
.card-header-back {
  height: 32px;
  line-height: 32px;
  font-size: 15px;
  font-weight: 600;
  .header-back-title {
    cursor: pointer;
  }
}
.card-header-right {
  float: right;
  margin-top: -32px;
}
/deep/ .el-collapse-item__content {
  background-color: #fafafa;
  padding: 0 30px 20px;
}
.config-itme-label {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}
.img-dialog {

}
.form-item-avatar {
  .avatar-value{
    position: absolute;
    z-index: 1;
    /deep/.el-icon-user-solid{
      font-size: 50px;
      padding: 25px;
    }
  }
  .avatar-value:hover {
    cursor: pointer;
    z-index: 0;
  }
  .avatar-overlay{
    position: absolute;
  }
  .avatar-overlay:hover{
    cursor: pointer;
    z-index: 1;
    background: #2f2f2fa8;
  }
}
.form-item-avatar /deep/ .el-form-item__label{
  padding: 30px 12px;
}
.dialog-avatar {
  /deep/.el-dialog {
    min-width: 800px;
    margin-top: 5vh!important;
  }
}
.dialog-cm {
  /deep/.el-dialog {
    max-width: 500px;
  }
}
/deep/.el-input {
  width: unset;
}
/deep/.el-textarea {
  max-width: 500px;
}
.form-slogan {
  width: 100%;
  max-width: 500px;
}
.quota-space {
  margin-top: 10px;
  max-width: 300px;
}
.el-form-item__content {
  .instruction {
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
  }
}
.instruction {
  color: #9a9a9a;
  font-size: .8125rem;
  a {
    color: #1890ff;
  }
}
.table-top {
  .table-top-right {
    float: right;
    margin-top: -28px;
  }
}
