@import "src/styles/index";
a {
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

a:hover {
  color: #40a9ff;
}
.container {
  padding: 20px;
}
>>>.box-card {
  margin: 0 auto;
  max-width: 1240px;
  .clearfix {
    font-size: 16px;
    font-weight: 600;
  }
}
.el-card {
  .search-form {
    .el-form-actions {
      margin-bottom: 15px;
    }
  }
}
>>>.el-dialog__headerbtn {
  top: unset;
}
>>>.el-card__body {
  padding: 15px;
}
.table-search-header{
  >>>.el-card__header {
    padding: 18px 20px 0;
  }
}
.clearfix {
  display: flex;
}

.card-button {
  float: right;
  margin-left: 25px;
}

.card-btn-icon {
  padding-left: 12px;
  padding-right: 12px;
}

.card-header {
  line-height: 32px;
}
.card-header-back {
  height: 32px;
  line-height: 32px;
  font-size: 15px;
  font-weight: 600;
  .header-back-title {
    cursor: pointer;
  }
}
.card-header-right {
  float: right;
  margin-top: -32px;
}
>>> .el-collapse-item__content, >>>.el-tab-pane {
  background-color: var(--setting-bg);
  padding: 0 30px 20px;
}

.config-item-label {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}
.img-dialog {

}
.form-item-avatar {
  .avatar-value{
    position: absolute;
    z-index: 1;
    >>>.el-icon-user-solid{
      font-size: 50px;
      padding: 25px;
    }
  }
  .avatar-value:hover {
    cursor: pointer;
    z-index: 0;
  }
  .avatar-overlay{
    position: absolute;
  }
  .avatar-overlay:hover{
    cursor: pointer;
    z-index: 1;
    background: #2f2f2fa8;
  }
}
.form-item-avatar >>> .el-form-item__label{
  padding: 30px 12px;
}
.dialog-avatar {
  >>>.el-dialog {
    min-width: 800px;
    margin-top: 5vh!important;
  }
}
.dialog-form {
  >>> .el-dialog__body {
    padding-bottom: 0;
    padding-top: 22px;
  }
}
>>> .el-dialog {
  max-width: calc(100vw - 30px);
  .el-dialog__header {
    padding-top: 14px;
    padding-bottom: 11px;
  }
  .el-dialog__footer {
    padding-bottom: 12px;
  }
}
.form-slogan {
  width: 100%;
  max-width: 500px;
}
.quota-space {
  margin-top: 10px;
  max-width: 300px;
}
.el-form-item__content {
  .instruction {
    font-size: 12px;
    line-height: 1;
    padding-top: 4px;
    position: absolute;
  }
}
.instruction {
  color: #9a9a9a;
  font-size: .8125rem;
  a {
    color: #1890ff;
  }
}
.table-top {
  margin-bottom: 15px;
  .table-top-right {
    float: right;
    margin-top: -28px;
  }
}
.search-form .el-form-actions {
  .el-button+.el-button {
    margin-left: 0;
  }
}
.text-align-right {
  text-align: right;
}
.input-none-width {
  width: unset;
}
@media screen and (max-width: 768px) {
  .query-item {
    margin-bottom: 10px;
  }
  .search-form .el-form-actions {
    text-align: right;
  }
  >>> .el-dialog {
    min-width: 100px;
    width: 100%;
    margin-top: 10vh!important;
  }
  .dialog-avatar {
    >>>.el-dialog {
      .container {
        display: block;
        .img-container {
          width: unset;
        }
      }
    }
  }
}
.setting-title-desc {
  .setting-title-desc-text {
    padding: 5px 0 20px 0;
  }
  >>>.el-divider--horizontal {
    margin: 0;
  }
}
>>> .el-form {
  .form-instruction {
    color: #9a9a9a;
    font-size: .8125rem;
    a {
      color: #1890ff;
    }
  }
}
.form-item-flex {
  display: flex;
  align-items: center;
  >>> .el-icon-question {
    padding: 5px;
    font-size: 1rem;
  }
}
